.chh2 img{
    width: 100%;
    height: 24vh !important;
}
.chh{
    background-color: rgba(51, 255, 221, 0.7);;
    max-width: 250px;
    border-top: 10px solid rgba(51, 255, 221, 0.7);
    border-left: 8px solid rgba(51, 255, 221, 0.7);
    border-right: 8px solid rgba(51, 255, 221, 0.7);
    border-bottom: 10px solid rgba(51, 255, 221, 0.7);
    box-sizing: border-box;
}
@media screen and (max-width: 550px){
    .chh{
        background-color: rgba(51, 255, 221, 0.7);;
        max-width: 325px;
        min-height: 45vh;
        border-top: 14px solid rgba(51, 255, 221, 0.7);
        border-left: 12px solid rgba(51, 255, 221, 0.7);
        border-right: 12px solid rgba(51, 255, 221, 0.7);
        box-sizing: border-box;
        margin: 0px 15px;
    }
    .chh2 img{
        width: 100%;
        height: 38vh !important;
    }
}
.chh1:hover{
    text-decoration: none;
}
.chh3 h3{
    text-align: center;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: 20.5px;
    letter-spacing: 2px;
}
.chh3 h4{
    text-align: center;
    color: red;
    margin: -12px 0px 1px 0px;
    font-size:18px;
}
.chh4{
    text-align: center !important;
    margin: auto;
}
.chhbutton{
    color: black;
    background-color: orange;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin: auto;
    width: auto;
    height: 29px !important;
    align-items: center;
    padding: 0px 6px 0 0px;
}
.chhbutton i{
    padding: 0 8px;
}
.chhbutton p{
    background-color: rgb(252, 252, 136);
    font-size: 13px;
    border-radius: 4px;
    padding: 0px 3px;
    margin-top: 16px;
}