.ch{
    background-color: #c0fdf1;
    max-width: 335px;
    border-top: 15px solid #c0fdf1;
    border-left: 12px solid #c0fdf1;
    border-right: 12px solid #c0fdf1;
    border-bottom: 15px solid #c0fdf1;
    box-sizing: border-box;
}
.chaaa1{
    background-color: #ffcdb2;
    max-width: 335px;
    border-top: 15px solid #ffcdb2;
    border-left: 12px solid #ffcdb2;
    border-right: 12px solid #ffcdb2;
    border-bottom: 15px solid #ffcdb2;
    box-sizing: border-box;
}
.chaaa2{
    background-color: #ffc4d6;
    max-width: 335px;
    border-top: 15px solid #ffc4d6;
    border-left: 12px solid #ffc4d6;
    border-right: 12px solid #ffc4d6;
    border-bottom: 15px solid #ffc4d6;
    box-sizing: border-box;
}
.ch:hover{
    text-decoration: none;
}
.ch2 img{
    width: 100%;
    height: 34vh !important;
}
.ch3 h3{
    text-align: center;
    color: rgb(77, 77, 77) !important;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: "Shadows Into Light";
}
.ch3 h4{
    text-align: center;
    color: rgb(223, 21, 21);
    font-size: 23px;
    margin: -10px 0px 0px 0px;
}
.ch4{
    text-align: center !important;
    margin: auto;
}
.chbutton{
    color: black;
    background-color: orange;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin: auto;
    width: auto;
    height: 29px !important;
    align-items: center;
    padding: 0px 6px 0 0px;
}
.chbutton i{
    padding: 0 15px;
}
.chbutton p{
    background-color: rgb(252, 252, 136);
    font-size: 14px;
    border-radius: 6px;
    padding: 0px 3px;
    margin-top: 15px;
}
@media screen and (max-width: 450px){
    .ch{
        max-width: 385px;
    }
    .chaaa1{
        max-width: 385px;
    }
    .chaaa2{
        max-width: 385px;
    }
    .ch2 img{
        width: 100%;
        height: 39vh !important;
    }   
}