.diy{
    background-color: #f0f0f0;
}
.diy3 img{
    width: 100%;
}
.diy333{
    visibility: hidden;
    height: 0px;
}
.diy333 img{
    width: 100%;
}
@media screen and (max-width: 700px){
    .diy3{
        visibility: hidden;
        height: 0px !important;
    }
    .diy3 img{
        visibility: hidden;
        height: 0px !important;
    }
    .diy333{
        visibility: visible;
        top: -60 !important;
        position: relative;
        height: auto !important;
    }
}
.diy2mic{
    height: 65vh;
    padding-top: 60px;
    margin-bottom: 25px;
}
.diy3mic{
    background: linear-gradient(90deg, #33e7ff, rgb(248, 139, 139));
    background-color: wheat;
    width: 85%;
    height: 55vh;
    margin: auto;
    border-radius: 55px;
}
.diy4{
    width: 82%;
    margin: auto;
    background-color: #33ffdd;
    height: 62vh;
    position: relative;
    top: -25px;
    border-radius: 50px;
    overflow: hidden;
}
.diy5 img{
    height: 55vh;
}
.diy6{
    position: absolute;
    top: 170px;
    left: 10%;
}
.diy6 h3{
    font-size: 38px;
    font-weight: bold;
    font-family: "Shadows Into Light";
}
.diy6 h5{
    font-size: 21px;
    font-family: "Shadows Into Light";
}
.diy7{
    position: absolute;
    top: 5px;
    left: 45%;
}
.diy7 img{
    height: 70vh;
}
.diy8{
    position: absolute;
    top: 0;
    right: 0;
}
.diy8 img{
    height: 55vh;
}
@media screen and (max-width : 950px){
    .diy3mic{
        width: 95%;
    }
    .diy4{
        width: 90%;
    }
    .diy6 h3{
        font-size: 32px;
        font-family: "Shadows Into Light";
    }
    .diy6 h5{
        font-size: 19.5px;
    }
}
@media screen and (max-width : 700px){
    .diy3mic{
        width: 100%;
    }
    .diy4{
        width: 90%;
    }
    .diy6 h3{
        font-size: 31px;
        font-family: "Shadows Into Light";
    }
    .diy6 h5{
        font-size: 19.5px;
    }
    .diy7 img{
        height: 0vh;
    }
}
.unique{
    background-color: #f0f0f0;
}
.pro14{
    background-color: #f0f0f0;
    padding-top: 15px;
}
.diy144{
    background-color: #f0f0f0;
    padding-top: 15px;
}
.diy145{
    background-color: #f0f0f0;
    padding-top: 15px;
    padding-bottom: 1px;
}
.diy121{
    width: 130px;
    height: 50px;
    margin-top: 40px !important;
    margin-bottom: 45px !important;
    margin: auto;
}
.diy122{
    background-color: #2e3640;
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    font-weight: bold;
    color: #f1bc19;
    border-radius: 6px;
}
.diy122:hover{
    text-decoration: none;
    color: #f1bc19;
}