.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

.product-img {
    min-height: 100px;
}


.jumbotron {
    width: 30wh;
    height: 20vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #f1bc19,  #2e3640, #263b33);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
.jumbotron1{
    height: 15vh;
    position: relative;
    top: -28px;
}
.jumbotron1 h2{
    font-weight: bold;
}
.jumbotron1 p{
    font-size: 19px;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.addmin{
    overflow: hidden;
    display: flex;
    margin-top: -32.5px;
}
.admin{
    background-color: #da800c;
    height: auto;
    width: 230px;
    position: relative;
    left: 0px !important;
    border-radius: 0px 10px 10px 0px;
}
.admin ul{
    padding-top: 15px;
}
.admin ul li{
    font-size: 19px;
    padding-left: 15px;
    height: 50px !important;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    transition: .3s;
}
.admin ul li:hover{
    box-shadow: 5px 5px 10px rgb(219, 219, 219);
    transform: translate3d(-2px,0,100px);
}
.admin1{
    color: white;
}
.admin1:hover{
    text-decoration: none;
    color: white;
}
.admin2{
}
.admin3 h3{
    text-align: center;
}